:root {
  --color-bg: #111;
  --color-text: #eee;
  --color-subheading: #74c0fc;
  --color-heading: #ebebeb;
  --font-base: "Rubik", sans-serif;
  --font-size-base: 62.5%;
  --transition-speed: 0.3s;
}

/* Global Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

/* Base Tags */
html {
  font-size: var(--font-size-base);
  overflow-x: hidden;
}

body {
  font-family: var(--font-base);
  font-weight: 400;
  background-color: var(--color-bg);
  color: var(--color-text);
  line-height: 1;
  overflow-x: hidden;
}

/* Section Spacing */
section {
  padding: 9.6rem 0;
}

/* Headings */
.heading {
  font-size: 5.2rem;
  line-height: 1.5;
  margin-bottom: 3.2rem;
  /* You can adjust letter-spacing if needed */
}

.subheading {
  color: var(--color-subheading);
  letter-spacing: 3px;
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: 2.4rem;
  margin-bottom: 1.6rem;
  text-transform: uppercase;
}

.second-heading {
  font-size: 3.2rem;
  line-height: 1.5;
  margin-bottom: 9.6rem;
  color: var(--color-text);
}

.third-heading {
  font-size: 2.4rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
  color: var(--color-heading);
}

/* Layout Designs */
.grid {
  display: grid;
}

.grid-3-cols {
  grid-template-columns: repeat(3, 1fr);
  column-gap: 9rem;
}

.grid-2-cols {
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10rem;
}

.text-center {
  text-align: center;
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid-center {
  align-items: center;
}

.row-gap {
  row-gap: 8rem;
}

/* Other Global Styles */
.high-index {
  position: relative;
  z-index: 999;
}

.blob {
  position: absolute;
  z-index: 0;
  opacity: 10%;
}

.section {
  transition: transform 1s, opacity 1s;
}

.section-hidden {
  opacity: 0;
  transform: translateY(5rem);
}

.margin-top-correction {
  margin-top: 1.6rem;
}

.none {
  display: none;
}
