/* Mobile Layout */

@media (max-width: 34em) {
  /* General */
  .grid {
    row-gap: 4.8rem;
  }

  .grid-2-cols,
  .grid-3-cols,
  .grid-4-cols {
    grid-template-columns: 1fr;
  }

  .header {
    padding: 0rem 2rem;
  }
  .btn-contact {
    font-size: 2rem;
  }

  .blob-2 {
    top: 70%;
    left: 85%;
  }

  .section {
    padding: 3rem 0rem;
  }

  .heading {
    font-size: 4.8rem;
    text-align: center;
  }

  .second-heading {
    font-size: 2rem;
    margin-bottom: 4.8rem;
  }
  .third-heading {
    font-size: 1.8rem;
    margin-bottom: 2.4rem;
  }
  /* About Section */
  .about-section {
    padding: 2.4rem 4.8rem;
  }

  .designation {
    font-size: 2.4rem;
  }
  .about-text {
    font-size: 1.6rem;
    text-align: center;
  }
  .link-contents {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btn-download {
    padding: 1.5rem 3rem;
    width: 55%;
  }
  .btn-download:hover {
    letter-spacing: 0px;
  }
  .download-icon {
    font-size: 1.8rem;
  }
  .download-resume-link {
    font-size: 1.2rem;
  }

  /* Skills section */
  .skill-image {
    width: 75%;
  }
  .skill:hover .skill-image {
    margin-bottom: 4rem;
    transform: scale(1.05);
  }

  /* Techstack section */
  .tech-img-box {
    flex-wrap: wrap;
    gap: 2rem;
  }
  .tech {
    width: 7.5rem;
    padding: 1.35rem;
    border-radius: 18px;
    filter: grayscale(0);
  }
  .tech:hover {
    transform: translateY(-1rem);
    box-shadow: 0 0 14px #1971c2;
  }

  /* projects */
  .step-description {
    font-size: 1.5rem;
  }
  .step-img-box:nth-child(3) {
    grid-row: 4;
  }
  .step-text-box .subheading {
    font-size: 1.6rem;
  }
  .step-img-box:nth-child(7) {
    grid-row: 8;
  }
  .step-img-box:nth-child(11) {
    grid-row: 12;
  }
  .step-img {
    filter: grayscale(0);
  }
  .step-img:hover {
    transform: scale(1.02);
  }

  /* Certificates */
  .slider {
    width: 100%;
    height: 25rem;
  }
  .slide {
    height: 25rem;
  }
  .slider__btn {
    height: 4rem;
    width: 4rem;
    font-size: 2.8rem;
  }
  .dots__dot {
    height: 0.75rem;
    width: 0.75rem;
  }

  /* contant modal */
  .modal {
    width: 80%;
    padding: 4rem;
    margin-bottom: 2.4rem;
    font-size: 3rem;
  }
  .options {
    padding: 1rem;
    gap: 2rem;
  }
  .option-icon {
    font-size: 3.6rem;
    padding: 1.4rem;
  }
  /* /////////////////// */
  /* Mobile Navigation */
  .btn-mobile-nav {
    display: block;
    z-index: 1001; /* Ensure the button is on top of other content */
  }

  .navigation {
    background-color: #222;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;

    z-index: 1000;
  }

  /* Background Overlay */
  .bg-nav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7); /* Darken the background */
    backdrop-filter: blur(5px);
    z-index: 999; /* Lower than navigation but still above content */
    display: none; /* Hidden by default */
  }

  .nav-open .bg-nav-overlay {
    display: block; /* Display overlay when navigation is open */
  }

  .nav-open .navigation {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    z-index: 1000; /* Ensure navigation is above everything */
    transform: translateX(0);
  }

  .nav-open .close-icon {
    display: block;
  }

  .nav-open .menu-icon {
    display: none;
  }

  .nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .nav-link:after {
    display: none;
  }

  .nav-link:visited,
  .nav-link:link {
    font-size: 3rem;
  }

  /* Sticky Navigation Fix */
  .sticky .header {
    z-index: 1000;
  }

  .slider,
  .section {
    z-index: 1;
  }
}
